{{#if error}}
<div class="error">
    <li>{{ error }}</li>
</div>
{{/if}}

<div id="instance_list">
    {{#each instances }}
        <div class="instance">
            <h4>{{this.id}}</h4>
            <p>Players: {{ this.players }}  Score: {{ this.score }}</p>
            <a href="/instance/{{this.id}}">Join!</a>
        </div>
    {{/each}}
</div>