<div class="container">
    <div class="row">
        <div class="span8 offset4">

            <h1 class="page-header"><a href='/instance'>challenger.io</a> <small>pew pew pew <iframe style="margin:-5px 0" id='knockout-vote' src="http://nodeknockout.com/iframe/challenger-io" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe></small></h1>

        </div>
    </div>

    {{#if error}}
    <div class="error">
        <li>{{ error }}</li>
    </div>
    {{/if}}

    <div class="row">
        <div class="span8 offset4">
            <div class="well">
                <div id="instance_list">
                    <div class="accordion" id="accordion">

                        {{#each instances }}
                        <div class="accordion-group instance">

                            <div class="accordion-heading">

                                {{#if this.full}}
                                    <a class="join btn btn-primary disabled" href="#">Full!</a>
                                {{else}}
                                    <a class="join btn btn-primary" href="/instance/{{this.id}}">Join!</a>
                                {{/if}}

                                <a class='pull-left accordion-toggle collapsed' data-toggle="collapse" data-parent="#accordion" href="#collapse-{{this.id}}"><i class="icon-play"></i></a>

                                <h4>{{this.id}}</h4>
                                <p class='meta'>Players: {{ this.totalPlayers }}  Score: {{ this.score }}</p>

                            </div>

                            <div id='collapse-{{this.id}}' class="accordion-body collapse">
                                <div class="accordion-inner">
                                    {{#if this.totalPlayers}}
                                        <ul class='unstyled'>
                                        {{#each this.players }}
                                            <li class='player'>{{this}}</li>
                                        {{/each}}
                                        </ul>
                                    {{else}}
                                        <em>Instance is empty</em>
                                    {{/if}}

                                </div>
                            </div>
                        </div>
                        {{/each}}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>